/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}
html{
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin: 0 auto 0 auto;
	border: 3px  #931420 ;
	border-style: solid;
	background-color: #fffded;
}

blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}

li{
	padding-bottom: .35em;
}


/* the styles for the header */
header{
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: solid #931420;
	background:
			linear-gradient(30deg,transparent 0%,#f6bb73,transparent 30%,#f6bb73,transparent 50%, white, transparent 80%, #f6bb73, transparent 100%, #f6bb73);
			/*linear-gradient(30deg,transparent 30%,#f6bb73);
			linear-gradient(30deg,transparent 50%, white);
			linear-gradient(30deg,transparent 80%, #f6bb73);
			linear-gradient(30deg,transparent 100%, #f6bb73);*/



	}
img{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

header h2{
	font-size: 170%;
	color: #800000;
	/*text-indent: 30px;*/
}

header h3{
	font-size: 130%;
	font-style: italic;
	/*text-indent: 30px;*/
}

/* the styles for the section */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}

main h1{
	padding-top: .3em;
	padding-bottom: .3em;
	font-size: 150%;
	border-top: solid #931420;
	border-bottom: solid #931420

}
main h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3{
	font-size: 105%;
	padding-bottom: .25em;
}

a:hover{
	font-style: italic;
}
a:focus{
	font-style: italic;
}

main img{
	padding-bottom: 1em;
}

p{
	padding-bottom: .5em;
}


/* the styles for the footer */
footer{
	text-align: center;
	border-top: solid #931420;
	background-color: #931420;
	color: white;
	padding-bottom: 1em;
	padding-top: 1em;
}
a::shadow{
	text-shadow: #800000 ;
}

main img{
	padding-left: 0;
	padding-right: 0;
}
